*.iml
.gradle
.gradle/
build/
/app/build
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/build/
*/build/
/captures
.externalNativeBuild
.cxx
local.properties
**/release/app-release.apk
**/debug/app-debug.apk
/google-services.json
*.log
*.keystore
*.jks
.DS_Store
Thumbs.db
